<app-card variant="secondary" class="form-busca">
  <h2>Passagens</h2>
  <form [formGroup]="formBuscaService.formularioBusca">
    <div class="flex-container">
      <mat-button-toggle-group aria-label="Tipo de passagem" formControlName="somenteIda">
        <mat-button-toggle [value]="false">
          <mat-icon *ngIf="!formBuscaService.formularioBusca.get('somenteIda')?.value">check</mat-icon>
          IDA E VOLTA</mat-button-toggle>
        <mat-button-toggle [value]="true">
          <mat-icon *ngIf="formBuscaService.formularioBusca.get('somenteIda')?.value">check</mat-icon>
          SOMENTE IDA</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-chip-listbox (click)="openDialog()" aria-label="Seleção de passagem">
        <mat-chip-option selected>
          1 Adulto
        </mat-chip-option>
        <mat-chip-option>
          Econômica
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="flex-container">
      <app-dropdown-uf
      label="Origem"
      prefixIconName="flight_takeoff"
      placeholder="Origem"></app-dropdown-uf>

      <button mat-icon-button>
      <mat-icon>sync_alt</mat-icon>
      </button>

      <app-dropdown-uf
      label="Destino"
      prefixIconName="flight_land"
      placeholder="Destino"></app-dropdown-uf>

      <mat-form-field class="input-container" appearance="outline">
        <mat-label>Data de ida</mat-label>
        <input matInput [matDatepicker]="datepicker">
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancelar</button>
            <button mat-raised-button color="primary" matDatepickerApply>Confirmar</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field class="input-container" appearance="outline">
        <mat-label>Data de volta</mat-label>
        <input matInput [matDatepicker]="datepickerVolta">
        <mat-datepicker-toggle matIconSuffix [for]="datepickerVolta"></mat-datepicker-toggle>
        <mat-datepicker #datepickerVolta>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancelar</button>
            <button mat-raised-button color="primary" matDatepickerApply>Confirmar</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <button mat-flat-button color="primary">BUSCAR</button>
    </div>
  </form>
</app-card>


