<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="flex-container">
        <div class="selecao-idade">
          <app-selecao-passageiro
          titulo="Adultos"
          [formControl]="formBuscaService.obterControle('passageirosAdultos')"
          subTitulo="(Acima de 12 Anos)"/>
          <app-selecao-passageiro
          titulo="Crianças"
          [formControl]="formBuscaService.obterControle('passageirosCriancas')"
          subTitulo="(Entre 2 e 11 Anos)"/>
          <app-selecao-passageiro
          titulo="Bebês"
          [formControl]="formBuscaService.obterControle('passageirosBebes')"
          subTitulo="(Até 2 Anos)"/>
        </div>
    </div>
    <div class="selecao-container">
      <mat-chip-listbox aria-label="Seleção de passagem">
        <mat-chip-option value="Econômica"
        (selectionChange)="formBuscaService.alterarTipo($event, 'Econômica')"
        [selected]="formBuscaService.formularioBusca.get('tipo')?.value === 'Econômica'">
          Econômica
        </mat-chip-option>
        <mat-chip-option value="Executiva"
        (selectionChange)="formBuscaService.alterarTipo($event, 'Executiva')"
        [selected]="formBuscaService.formularioBusca.get('tipo')?.value === 'Executiva'">
          Executiva
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="modal-actions">
      <button mat-raised-button mat-dialog-close color="secondary">Cancelar</button>
      <button mat-raised-button color="primary">Aplicar</button>
    </div>
  </div>
</section>
