<app-banner imgSrc="assets/imagens/banner-login.png" imgAlt="Banner tela de login"></app-banner>
<section class="login-component">
  <mat-card class="login">
    <div class="image-container">
      <figure>
        <img src="assets/imagens/simbolo-bussola.png" alt="Imagem login">
      </figure>
    </div>
    <div class="form-container">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Digite seu e-mail" formControlName="email" type="email"
            required>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Email é obrigatório</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">Email inválido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Digite sua senha"
            autocomplete="current-password"
            formControlName="senha" type="password" required>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Senha é obrigatória</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="loginForm.invalid" mat-flat-button type="submit"
           color="primary">ACESSAR MINHA CONTA</button>
        </mat-card-actions>
      </form>
      <p>Ainda não possui uma conta? <a><u><strong>Clique aqui para se cadastrar!</strong></u></a></p>
    </div>
  </mat-card>
</section>
