.cadastro-component {
  max-width: 50%;
  min-height: 74%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }

  .form-container {
    margin-top: 68px;
    width: 100%;

    .mat-mdc-card-title {
      text-align: center;
      margin-bottom: 19px;
    }

    .mat-mdc-card-content {
      display: block;
      padding: 0 16px;
      gap: 5px 16px;
      display: flex;
      flex-wrap: wrap;
    }

    .mat-mdc-form-field,
    .dropdown-uf,
    .radio-group {
      flex: 1 1 calc(50% - 8px);
    }

    .name-field{
      flex: 1 1 100%;
    }

    .term-check{
      margin: 10px 0;
    }
    .card-actions button{
      margin: 19px auto;
    }

  }

 &::ng-deep mat-radio-button .mdc-form-field {
    display: flex ;
    flex-direction: column ;
  }

  &::ng-deep mat-radio-group {
    display: flex !important;
    gap: 0 27px;
    flex-wrap: wrap;
  }

}


