<footer class="footer">
  <app-container>
    <section>
      <figure><img src="assets/img/Logo-branco 2.png" alt=""></figure>
      <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
      <p>Desenvolvido por Angelo Guilhermino. Projeto fictício sem fins comerciais.</p>
    </section>
    <section class="social-section">
      <p>Acesse nossas redes:</p>
      <ul  class="social-icons">
        <li>
          <button mat-button><img src="assets/img/Whatsapp 1.png" alt="" srcset=""></button>
        </li>
        <li>
          <button mat-button><img src="assets/img/Twiter 1.png" alt="" srcset=""></button>
        </li>
        <li>
          <button mat-button><img src="assets/img/Instragam 1.png" alt="" srcset=""></button>
        </li>
      </ul>
    </section>
  </app-container>
</footer>
